.cart__count{
    background-color: black;
    width: 2%;
    border-radius: 10px;
    border: 1px solid white;
    margin: 10px;
    padding: 2px;
    color: white;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.cart__logo{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    
}